.Rproj.user
.Rhistory
.RData
.Ruserdata
R/4.posterior_draws_bootstrap/deprecated/
Willson_Ecology.pdf
Willson_Ecology.zip
Willson_ecology_supplement.pdf
data/input/PLS_Density_Point_Level2_v1.0.nc
data/input/posterior_stepps/
data/processed/gridded_soil.RData
data/processed/post_STEPPS.RData
data/processed/post_stepps_full_oos.RData
out/posteriors/
submission_cover_letter.docx
submission_cover_letter.pdf
figures/posteriors/sand_aat_tpr_prsd/trace_bFacGibbs.pdf
figures/posteriors/sand_aat_tpr_prsd/trace_bgibbs.pdf
figures/posteriors/sand_aat_tpr_prsd/trace_bgibbsUn.pdf
figures/posteriors/sand_aat_tpr_prsd/trace_fSensGibbs.pdf
figures/posteriors/sand_aat_tpr_prsd/trace_sgibbs.pdf
figures/posteriors/silt_aat_tpr_prsd/trace_bFacGibbs.pdf
figures/posteriors/silt_aat_tpr_prsd/trace_bgibbs.pdf
figures/posteriors/silt_aat_tpr_prsd/trace_bgibbsUn.pdf
figures/posteriors/silt_aat_tpr_prsd/trace_fSensGibbs.pdf
figures/posteriors/silt_aat_tpr_prsd/trace_sgibbs.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_bFacGibbs.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_bgibbs.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_bgibbsUn.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_fSensGibbs.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_sgibbs.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_bFacGibbs.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_bgibbs.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_bgibbsUn.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_fSensGibbs.pdf
figures/posteriors/sand_aat_tsd_prsd/trace_sgibbs.pdf
figures/posteriors/sand_aat_tpr_prsd_300YBP/trace_bFacGibbs.pdf
figures/posteriors/sand_aat_tpr_prsd_300YBP/trace_bgibbs.pdf
figures/posteriors/sand_aat_tpr_prsd_300YBP/trace_bgibbsUn.pdf
figures/posteriors/sand_aat_tpr_prsd_300YBP/trace_fSensGibbs.pdf
figures/posteriors/sand_aat_tpr_prsd_300YBP/trace_sgibbs.pdf
figures/posteriors/silt_aat_tsd_prsd/trace_bFacGibbs.pdf
figures/posteriors/silt_aat_tsd_prsd/trace_bgibbs.pdf
figures/posteriors/silt_aat_tsd_prsd/trace_bgibbsUn.pdf
figures/posteriors/silt_aat_tsd_prsd/trace_fSensGibbs.pdf
figures/posteriors/silt_aat_tsd_prsd/trace_sgibbs.pdf
